body{
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div{
}
img{
  height: 200px;
}
div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 0px;
}
.btn-default{
  background: rgba(0, 0, 0, 0.248);
  border: white 1px dotted;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
}
#map{
  height: 400px;
  width: 100%;
}
.fa-trash:before{content:'\f00d'}
